include header.pug

div.container

    table.table
        tr
            th path
            th key
            th value
        tbody
            each d in json
                tr
                    td 
                        a(href="/api/paste/" + apikey + "" + d.path target="_blank") #{d.path}
                    td #{d.key}
                    td #{d.value}

    div.access
        div.api
            p Usage
                hr
                p API Key: 
                    span.get #{apikey}

                p 
                    span GET 
                        span.get http://#{host}
                        span.color /api/paste/:apikey/:path

                p
                    span Get full paste: 
                        span.get http://#{host}
                        span.color /api/paste/json/:apikey

        div.delete
            p 
                span To delete this paste
                hr
                p
                span GET  
                    span.get http://#{host}
                    span.color /api/paste/delete/#{password}

include footer.pug